<a href="https://colab.research.google.com/github/tshs10831182/tshs10831182repo/blob/master/%E8%B2%BB%E6%B0%8F%E6%95%B8%E5%88%97.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [91]:
def number(n):
    if n==0:
        return 0;
    elif n==1:
        return 1;
    return number(n-1) + number(n-2)

In [ ]:
print(number(0))
print(number(1))
print(number(2))
print(number(3))
print(number(4))
print(number(5))
print(number(6))
print(number(7))
print(number(8))
print(number(9))
print(number(10))

In [108]:
print(number(12),"隻")

144 隻